@charset "utf-8";

$blue: #009de0;

@import "../node_modules/bulma/bulma.sass";




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 1%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  width: 100%;
  padding: 1%;
}

.header .level-left {
  width: 50%;
}

.header .level-right {
  width: 50%;
}

.header .level-right .logged-user .username{
  display: flex;
  flex-direction: row;
  align-items: center;
  & > div {
    padding: 0 10px;
  }
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  & > img {
    border-radius: 5px;
  }
}

.side-panel .menu {
  padding-left: 5%;
}

.panel {
  margin-right: 10%;
}
